.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:100%;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    border:1px solid black;
    padding:0;
	width:300px;
}

.DocumentItem-button1
{
    padding:0;
}

.DocumentItem-button2
{
    padding:0;
}

.DocumentItem-button3
{
    padding:0;
}

.list-inline {
	white-space:nowrap;
}
